html {
  align-items: center;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: sans-serif;
}

main {
  text-align: center;
}

body {
  margin: 0;
}

header {
  background-color: #f8f8f8;
  padding:25px;
}

#header1 {
  color: #333;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  padding-left: 0;
}


.navigation-zero {
  font-size: 80px;
  text-align: center;
}

.navigation {
  background-color: white;
  font-size: 48px;
  color: #222;
  padding: 30px 0;
  width: 95%;
  margin: 10px;
  text-align: center;
}

li {
  display: block;
  width: auto;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hero-image {
  width: 75%
}

.hero-paragraph {
  font-size: 40px;
  margin: 120px 0;
  padding: 0 35px;
}

.project {
  padding: 50px 0;
}

#portfolio {
  padding-top: 50px
}

.contact, footer {
  background-color: #f8f8f8;
  padding: 50px;
}

img {
  width: 90%;
  margin: auto;
  align-content: center;
}

h1, h2, h3 {
  color: #555;
}

p {
  color: #888;
  margin: 40px;
  font-size: 25px;
}

.contact {
  padding: 150px 0;
  margin-top: 75px;
}

.contact-p {
  padding: 40px 0;
}

footer {
  border-top: 1px solid #999;
  padding-top: 60px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.fotname {
  font-size: 44px;
  color: #333;
  font-weight: bold;
}

.fothide {
  font-size: 37px;
}

#fotone, #fottwo, #fotthree {
  display: none;
}

.bold {
  margin: 0;
}

@media (min-width: 768px) {
  
  }
}
