html {
  align-items: center;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: sans-serif;
}

main {
  text-align: center;
}

body {
  margin: 0;
}

header {
  background-color: #f8f8f8;
  padding:25px;
}

#header1 {
  color: #333;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  padding-left: 0;
}


.navigation-zero {
  font-size: 80px;
  text-align: center;
}

.navigation {
  background-color: white;
  font-size: 48px;
  color: #222;
  padding: 30px 0;
  width: 95%;
  margin: 10px;
  text-align: center;
}

li {
  display: block;
  width: auto;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hero-image {
  width: 75%
}

.hero-paragraph {
  font-size: 40px;
  margin: 120px 0;
  padding: 0 35px;
}

.project {
  padding: 50px 0;
}

#portfolio {
  padding-top: 50px
}

.contact, footer {
  background-color: #f8f8f8;
  padding: 50px;
}

img {
  width: 90%;
  margin: auto;
  align-content: center;
}

h1, h2, h3 {
  color: #555;
}

p {
  color: #888;
  margin: 40px;
  font-size: 25px;
}

.contact {
  padding: 150px 0;
  margin-top: 75px;
}

.contact-p {
  padding: 40px 0;
}

footer {
  border-top: 1px solid #999;
  padding-top: 60px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.fotname {
  font-size: 44px;
  color: #333;
  font-weight: bold;
}

.fothide {
  font-size: 37px;
}

#fotone, #fottwo, #fotthree {
  display: none;
}

.bold {
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav {
    flex-wrap: nowrap;
    justify-content: center;
    width: 60%;
    margin: auto;
  }

  .navigation-zero {
    font-size: 43px;
    padding-top: 30px;
  }

  .navigation {
    font-size: 24px;
    padding: 15px 0;
    background-color: inherit;
  }

  header {
    padding: 40px;
  }

  .hero {
    display: flex;
    margin-top: -40px;
  }

  .hero-image {
    width: 30%;
    order: 1;
    flex-grow: 2;
  }

  .hero-paragraph {
    width: 30%;
    flex-grow:3;
    font-size: 27px;
    text-align: left;
    padding-left: 15px;
    padding-right: 50px;
  }

  .all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 50%;
    padding: 10px 0;
  }

  p {
    font-size: 22px;
    margin: 20px;
  }

  .portfolio-image {
    margin-bottom: 17px;
  }

  h3 {
    font-size: 30px;
  }

  .contact {
    padding: 60px 0 90px;
  }

  .contact-p {
    margin: 20px 160px;
  }

  .fothide {
    display: none;
  }
  #fotone, #fottwo, #fotthree {
    display: inline-block;
    font-size: 23px;
    padding-right: 20px;
  }
  .fotname {
    font-size: 28px;
  }

  footer {
    padding: 40px 40px 100px;
  }
}

@media (min-width:1024px) {
  .hero {
    margin-top: 0;
  }

  .navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .navigation-zero {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

  .navigation {
    margin: 0;
    margin-right: 40px;
    padding: 0;
    font-size: 16px;
  }

  #portfolio {
    margin-bottom: 60px;
  }

  .project {
    width: 33%;
  }

  .portfolio-image.four, .portfolio-image.five, .portfolio-image.six {
    margin-top: 45px;
  }

  .contact-p {
    font-size: 27px;
    margin: 20px 250px;
  }

  footer {
    padding: 40px;
  }

  .fotname {
    font-size: 21px;
  }

  #fotone, #fottwo, #fotthree {
    font-size: 17px;
  }
}
